<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Veterinarian Form</title>
</head>
  <body>
    <h2>Add Veterinarian Form</h2>
    <form action="#" th:action="@{/veterinarians/addveterinarian}" th:object="${veterinarian}" method="post">
        <div>
            <input type="text" th:field="*{diplomaNo}" id="diplomaNo" placeholder="Diploma Number">
        </div>

        <div>
            <input type="text" th:field="*{citizenId}" id="citizenId" placeholder="Citizen Id">
        </div>

        <div>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        </div>

        <div>
            <input type="text" th:field="*{middleName}" id="middleName" placeholder="Middle Name">
        </div>

        <div>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        </div>

        <div>
            <input type="text" th:field="*{birthDate}" id="birthDate" placeholder="Birth Date">
        </div>

        <div>
            <input type="submit" value="Save"><input type="reset" value="Clear">
        </div>
    </form>
  </body>
</html>