<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List All Veterinarians</title>
</head>
<body>
    <div th:if="${!veterinarians.isEmpty()}">
        <h2>Veterinarians</h2>
        <table border="1">
            <tr>
                <th>Diploma No</th>
                <th>Full Name</th>
                <th>Birth Date</th>
                <th>Register Date</th>
            </tr>
            <th:block th:each="v : ${veterinarians}">
                <tr>
                    <td th:text="${v.diplomaNo}"/>
                    <td th:text="${v.fullName}"/>
                    <td th:text="${v.birthDate}"/>
                    <td th:text="${v.registerDate}"/>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:if="${veterinarians.isEmpty()}">
        <h2>No veterinarian yet</h2>
    </div>
</body>
</html>